
	<section class="breadcrumb p07">
		<p><a href="index.html">Home</a> <a href="productos.html">Productos</a> Aceros Comerciales y Estucturales </p>
	</section>


	<section class="content">
		<h1>Productos</h1>
		<article class="main">

		<section class="columns">
		 	<h2><span>Aceros Comerciales y Estructurales</span></h2>
		 	
		 	<article class="col2 team">
		 		<div class="img-border"><img src="{{static}}images/temp/114.jpg" alt=""></div>
		 		<h3><a href="producto.html">Ángulo estandar</a></h3>
		 		<p>Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu.</p>
		 		<p><a href="cotizar.html" class="button">+ Cotizar</a></p>
		 	</article><article class="col2 team">
		 		<div class="img-border"><img src="{{static}}images/temp/115.jpg" alt=""></div>
		 		<h3> <a href="producto.html">Redondo</a></h3>
		 		<p>Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu.</p>
		 		<p><a href="cotizar.html" class="button">+ Cotizar</a></p>
		 	</article>
		 	<article class="col2 team">
		 		<div class="img-border"><img src="{{static}}images/temp/115.jpg" alt=""></div>
		 		<h3> <a href="producto.html">Solera</a></h3>
		 		<p>Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu.</p>
		 		<p><a href="cotizar.html" class="button">+ Cotizar</a></p>
		 	</article><article class="col2 team">
		 		<div class="img-border"><img src="{{static}}images/temp/115.jpg" alt=""></div>
		 		<h3> <a href="producto.html">Solera</a></h3>
		 		<p>Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu.</p>
		 		<p><a href="cotizar.html" class="button">+ Cotizar</a></p>
		 	</article>



		 </article>
		 <aside>
		 	<h4>Menú de Productos</h4>
			<section class="menu">
				<ul>
					<li><a href="#">Lorem ipsum dolor</a></li>
					<li class="current-menu-item"><a href="#">Consectetuer adipiscing</a></li>
					<li><a href="#">Aenean commodo</a></li>
					<li class="parent"><a href="#">Natoque penatibus</a>
						<ul>
							<li><a href="#">Fringilla vel</a></li>
							<li><a href="#">Donec pede justo</a></li>
							<li><a href="#">In enim justo</a></li>
						</ul>
					</li>
					<li><a href="#">Magnis dis parturient</a></li>
					<li><a href="#">Donec quam felis</a></li>
					<li><a href="#">Magnis dis</a></li>
				</ul>
			</section>
		</aside>
 		</section>

	</section>
