	<section class="slider slider1">
		<article>
			<img src="static/images/slides/slide1.jpg"  alt="">
			<div>
				<h3>Consolidando Crecimiento</h3>
				<p>Gracias a la gran aceptación de nuestros productos en la industria de la contrucción; <strong>Aceros Vimar</strong> consolida un crecimiento de gran importancia para el mercado mexicanoen productos terminados del acero, mediante su planta Malla SAN, la cual se consolidó como una propuesta de alto valor para la utilización del alambrón como principal materia prima desde el 2006.
				</p>
				<p><a href="#" class="button">Más Información</a></p>
			</div>
		</article>
		<article>
			<img src="static/images/slides/slide2.jpg"  alt="">
			<div>
				<h3>Lorem ipsum dolor sit amet.</h3>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus, rem, consequuntur, similique odit quidem qui fuga aut esse obcaecati vero saepe perspiciatis magnam quae. Provident, saepe illo temporibus vel architecto. Debitis animi sint quos voluptates. Dolor, perferendis nesciunt veniam natus quidem corrupti quasi reiciendis blanditiis debitis aut impedit labore distinctio.
				</p>
				<p><a href="#" class="button">Más Información</a></p>
			</div>
		</article>
		<article>
			<img src="static/images/slides/slide3.jpg"  alt="">
			<div>
				<h3>Lorem ipsum dolor sit amet, consectetur.</h3>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Error, totam, dolorum amet tempora nam fugit recusandae numquam. Optio, voluptatum reiciendis ex eius nihil cumque sapiente quam numquam alias voluptas debitis harum iusto deserunt a doloribus earum mollitia ducimus dolorum inventore id voluptates dolore quia. Beatae, earum, sed.
				</p>
				<p><a href="#" class="button">Más Información</a></p>
			</div>
		</article>
		<article>
			<img src="static/images/slides/slide4.jpg"  alt="">
			<div>
				<h3>Lorem ipsum dolor sit.</h3>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quia, quis doloremque doloribus atque? Ad, recusandae, dolores, a autem cupiditate mollitia harum laboriosam inventore porro asperiores nulla odio error neque animi fuga reiciendis dignissimos nobis alias fugit assumenda aperiam obcaecati nostrum tenetur vitae suscipit.
				</p>
				<p><a href="#" class="button">Más Información</a></p>
			</div>
		</article>
		<article>
			<img src="static/images/slides/slide5.jpg"  alt="">
			<div>
				<h3>Lorem ipsum dolor sit amet, consectetur adipisicing.</h3>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odit, tempore, incidunt nemo enim sint quod quaerat perferendis quae porro aperiam tenetur aspernatur odio facilis asperiores voluptatem eligendi nam nobis numquam.
				</p>
				<p><a href="#" class="button">Más Información</a></p>
			</div>
		</article>
	</section>
	<!-- SLIDER -->

	<section class="content">
		<section class="columns">
			<article class="col4">
				<p class="img"><a href="#"><img src="static/images/photo/hc1.jpg"  alt=""></a></p>
				<h3><a href="#">Aceros Comerciales y Estructurales</a></h3>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officiis, perspiciatis id ipsa suscipit est accusantium facere. Harum, deleniti odio quia.</p>
			</article><article class="col4">
				<p class="img"><a href="#"><img src="static/images/photo/hc2.jpg"  alt=""></a></p>
				<h3><a href="#">Alambres galvanizados y derivados</a></h3>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odit eveniet officia natus accusantium assumenda laboriosam fugiat eius corporis? Cum, facilis.</p>
			</article><article class="col4">
				<p class="img"><a href="#"><img src="static/images/photo/hc3.jpg"  alt=""></a></p>
				<h3><a href="#">Hoja Electrosoldada</a></h3>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorem, tempora odit aliquid natus ad totam eligendi magnam nostrum mollitia quasi.</p>
			</article><article class="col4">
				<p class="img"><a href="#"><img src="static/images/photo/hc4.jpg"  alt=""></a></p>
				<h3><a href="#">Ángulos</a></h3>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellendus, quas magni nobis adipisci doloremque vero neque quaerat velit corporis molestias.</p>
			</article>
		</section>
		<section class="hp-intro">
			<p class="slogan">Usted puede solicitar una cotización en línea y uno de nuestros ejecutivos le atenderá con todo gusto.</p>
			<p class="cta"><a href="#" class="button">Solicitar Cotización</a></p>
		</section>
		<section class="columns with-icons">
			<article class="col3">
				<h3><img src="static/images/icons/title-icon1.png"  alt=""><a href="#">Acerca de Nosotros</a></h3>
				<p>In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt. Cras dapibus.</p>
			
			</article><article class="col3">
				<h3><img src="static/images/icons/title-icon2.png"  alt=""><a href="#">Catálogo en Línea</a></h3>
				<p>In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt. Cras dapibus.</p>
				
			</article><article class="col3">
				<h3><img src="static/images/icons/title-icon3.png"  alt=""><a href="#">Descarga de catálogos</a></h3>
				<p>In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt. Cras dapibus.</p>
			
			</article>
		</section>		
	</section>
	<!-- CONTENIDO -->