<!DOCTYPE HTML>
<html lang="es">
<head>
    <meta charset="UTF-8" />
    <meta name="author" content="Fernando Magrosoto V." />
    <meta name="copyright" content="dIGITAE | Fábrica de soluciones" />
    <meta name="robots" content="NOINDEX,NOFOLLOW" />
    <meta name="description" content="Sistema de administración de Vivienda Fácil" />
    
    {%header}
    
    <link rel="stylesheet" type="text/css" media="screen" href="../css/principal.css" />
    <script src="../libreria/js/fecha.js"></script>
    <script src="../libreria/js/redireccionar.js"></script>
    <link href='http://fonts.googleapis.com/css?family=Quando' rel='stylesheet' type='text/css'>    


</head>    
<body>
    
    <form action="{{url_site}}" method="post" enctype="multipart/form-data">
        
        <input type="text" name="user" placeholder="usuario"><br>
        
        <input type="password" name="pass" placeholder="contraseña">
            
        <input type="submit" value="Entrar">
        
    </form>
    
</body>    
</html>