<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>FORO</title>
<![if !IE]>
<link rel="stylesheet" type="text/css" href="themes/style.css" />
<![endif]>

<!--[if IE]>
<link href="themes/style-ie.css" rel="stylesheet" type="text/css" />
<![endif]--> 

</head>

<body>

<div class="container_12">
  <div class="grid_7" id="headerLogo"></div>
  <div class="grid_3 push_2" id="topNavInfo">
  	<div>
    	<div class="left" id="fecha">January 13, 2012</div>
        <div class="right">
        	<ul id="topMenu">
           	  <li class="home"><a href="#"></a></li>
              <li class="contacto"><a href="#"></a></li>
              <li class="salir"><a href="#"></a></li>
            </ul>
        </div>
        <div id="userInfo" class="left">
            <img src="themes/img/miniicon-user.png" width="14" height="16" align="absmiddle" class="left" />
            <div class="right">Bienvenido / Welcome<br />FERNANDO FERNANDEZ</div>
        </div>
    </div>
  </div>
  <!-- end .grid_12 -->
  <div class="clear"></div>
	<div class="grid_4" id="sidebar"><img src="images/banners.png" width="300" height="800" /></div>
    <div class="grid_7 push_1" id="content">sadad</div>
</div>
<!-- end .container_12 -->



</body>
</html>
