<!DOCTYPE html>
<html>
<head>
    {header}    
</head>
<body>
    
    <header>
        Foros BBVA 
    </header>
    
    <section>
        
        <header><h1>Login</h1></header>
        
        <article>
            
            <form action="#">
                
                <label for="user">Usuario: <input name="user" placeholder="Usuario" id="user" /></label>
               
                <label for="pass">Contraseña: <input type="password" name="pass" placeholder="password" id="pass" /></label>
                
            </form>   
            
        </article>
    </section>
    
    <footer>
        {copyright}
    </footer>
</body>
</html>