	<section class="breadcrumb p07">
		<p><a href="{{url_site}}">Home</a> <a href="{{url_site}}productos/">Productos</a> <a href="">{{categoria}}</a> {{titulo}}</p>
	</section>

	<section class="content">
		<article class="main">
		<article class="product">
			<p class="product-img"><span class="img-border"><img src="{{thumbnail}}" alt=""></span></p>
			<div>
				<h1>{{titulo}}</h1>
			</div>
			<div class="descr">
		
				<p>{{details}}</p>
				<dl class="product-data">
					<dt>Propiedad 1:</dt>
					<dd><a href="#">7"</a></dd>
					<dt>Propiedad 2:</dt>
					<dd><a href="#">Metálico</a></dd>
				</dl>

				
			</div>

			<div class="clear"></div>

			<section class="columns popular-objects">
			<h2><span><b>Productos de:</b> {{categoria}}</span></h2>
			{{relacionados}}

		</section>
		</article>
	</article>
		<aside>
		<section>
		<h4>Convertidor de unidades</h4>
			<div>
				<p>
					Producto: <br>
					<select name="" id="">
						<option disabled="disabled" selected="selected">Seleccione</option>
						{{table}}
					</select>
				</p>
				<p>
				Cantidad: <input type="text" name="cantidadpr" id="cantidadpr" style="width: 60px;" placeholder="#" value="1">
				<br>De: 
				<input type="radio" name="depr" value="piezas" checked="checked"> <i>Piezas</i> 
				<input type="radio" name="depr" value="kg"> <i>Kilogramos</i> 
				<input type="radio" name="depr" value="tn"> <i>Toneladas</i> 

				<br>A: 
				<input type="radio" name="apr" value="piezas"> <i>Piezas</i> 
				<input type="radio" name="apr" value="kg" checked="checked"> <i>Kilogramos</i> 
				<input type="radio" name="apr" value="tn"> <i>Toneladas</i> 
				</p>	

				<div class="roundedConvertResult">
					1 pieza(s) <br>= <br><span>2.8 kilogramos</span>

				</div>
			</div>

			<p ><a href="#" class="button">Cotize este producto</a></p>
			</section>
	</aside>
	</section>