{% extends "base.html" %}
{% load staticfiles %}
{% block title %}Productos - Aceros Vimar{% endblock %}
{% block content %}
	<section class="content">
		<h1>Productos</h1>
		<section class="columns">
		 	<h2><span>Aceros Comerciales y Estructurales</span></h2>
		 	<article class="col2 team">
		 		<div class="img-border"><img src="{% static "images/temp/114.jpg" %}" alt=""></div>
		 		<h3><a href="producto.html">Ángulo estandar</a></h3>
		 		<p>Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu.</p>
		 		<p><a href="cotizar.html" class="button">+ Cotizar</a></p>
		 	</article><article class="col2 team">
		 		<div class="img-border"><img src="{% static "images/temp/115.jpg" %}" alt=""></div>
		 		<h3> <a href="producto.html">Redondo</a></h3>
		 		<p>Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu.</p>
		 		<p><a href="cotizar.html" class="button">+ Cotizar</a></p>
		 	</article>
		 	<article class="col2 team">
		 		<div class="img-border"><img src="{% static "images/temp/115.jpg" %}" alt=""></div>
		 		<h3> <a href="producto.html">Solera</a></h3>
		 		<p>Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu.</p>
		 		<p><a href="cotizar.html" class="button">+ Cotizar</a></p>
		 	</article>
		 </section>


		 <section class="columns">
		 	<h2><span>Alambres Galvanizados y Derivados</span></h2>
		 	<article class="col2 team">
		 		<div class="img-border"><img src="{% static "images/temp/114.jpg" %}" alt=""></div>
		 		<h3> <a href="producto.html">Alambre de Púas SAN</a></h3>
		 		<p>Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu.</p>
		 		<p><a href="cotizar.html" class="button">+ Cotizar</a></p>
		 	</article><article class="col2 team">
		 		<div class="img-border"><img src="{% static "images/temp/115.jpg" %}" alt=""></div>
		 		<h3> <a href="producto.html">Malla Ciclónica</a></h3>
		 		<p>Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu.</p>
		 		<p><a href="cotizar.html" class="button">+ Cotizar</a></p>
		 	</article>
		 </section>
	</section>
{% endblock %}