	<section class="breadcrumb p07">
		<p><a href="{{url_site}}">Home</a> <a href="{{url_site}}productos/">Productos</a> <a href="">{{categoria}}</a> {{titulo}}</p>
	</section>

	<section class="content">
		<article class="main">
		<article class="product">
			<p class="product-img"><span class="img-border"><img src="{{thumbnail}}" alt=""></span></p>
			<div>
				<h1>{{titulo}}</h1>
			</div>
			<div class="descr">
		
				<p>{{details}}</p>
				<dl class="product-data">
					<dt>Propiedad 1:</dt>
					<dd><a href="#">7"</a></dd>
					<dt>Propiedad 2:</dt>
					<dd><a href="#">Metálico</a></dd>
				</dl>

			

				
			</div>

			<div class="clear"></div>

			<section class="columns popular-objects">
			<h2><span><b>Productos de:</b> {{categoria}}</span></h2>
			{{relacionados}}

		</section>
		</article>
	</article>
		<aside>
		<!-- <section> -->
		<h4>Convertidor de unidades</h4>
			<div>
				<p>
					Medida: <br>
					<select name="" id="">
						<option value="">Seleccione variación</option>
					</select>
				</p>
				<p>
				Cantidad: <br><input type="text" name="cantidadpr" id="cantidadpr" style="width: 93%;" placeholder="#" value="1">
				</p>
				<p>
				Unidad: <br>
				<span><select name="cantidadde" id="cantidadde">
					<option value="p">Piezas</option>
					<option value="ml">Metros Lineales</option>
					<option value="kg">Kilogramos</option>
					<option value="tn">Toneladas</option>
				</select></span>
				</p>
				<p style="text-align:center"><button id="convertir">Convertir</button></p>

				<div class="roundedConvertResult" id="medidasResults">
					<ul></ul>
				</div>
			</div>

			<!-- </section> -->
	</aside>
	</section>

<script type="text/javascript">
	var productos = new Array();
	// 0: Nombre, 1: Variación, 2: longitud en metros, 3: peso en kgs  
	{{table}}

</script>
<script type="text/javascript">
        $(function(){

            var productoText = "{{nombre}}";
            var variacionesSelect = "select:eq(2)";
            var unidadSelect = "select:eq(3)";

        /*  $(productosSelect).change(function(){
                var val = $(this).val();
                var text = $(this).find("option:selected").text();
                if(val != ""){
                    fillVariacionesSelect(variacionesSelect,text)
                }
            });*/

            fillVariacionesSelect(variacionesSelect,productoText)
            

            $("#convertir").click(function(e) {

                //console.log($(variacionesSelect).val()+"<<--")
                if($(unidadSelect).val() != "" && $(cantidadpr).val() != "" && $(variacionesSelect).val() != ""){   
                    r = convert($(unidadSelect).val(),$(cantidadpr).val(),$(variacionesSelect).val());
                    doConversion("#medidasResults ul",r);
                }
                else{
                    alert("Llene todos los campos para realizar la conversión")
                }

                
            });

        })

    </script>