/*    BBVA   */

.c1{
	color:#004185;
}

.bgc1{
	background-color:#004185;
}

.c2{
	color:#0060B3;
}

.bgc2{
	background-color:#0060B3;
}

.c3{
	color:#0088D8;
}

.bgc3{
	background-color:#0088D8;
}

.c4{
	color:#07A9E4;
}

.bgc4{
	background-color:#07A9E4;
}

.c5{
	color:#81CEEE;
}

.bgc5{
	background-color:#81CEEE;
}

.c6{
	color:#BDE5F6;
}

.bgc6{
	background-color:#BDE5F6;
}


/*  GRISES  */

.cgray1{
	color:#666
}


.bgcgray1{
	background-color:#666;
}

.cgray2{
	color:#999;
}


.bgcgray2{
	background-color:#999;
}

.cgray3{
	color:#ccc;
}


.bgcgray3{
	background-color:#ccc;
}

.cgray4{
	color:#f2f2f2;
}


.bgcgray4{
	background-color:#f2f2f2;
}