@font-face {
	font-family: "bbvasans-light";
	src: url("../fonts/eot/bbvasans-light.eot");
	font-stretch: normal;
	font-style: normal;
	font-weight: 300;
}
@font-face {
	font-family: "bbvasans-lightitalic";
	src: url("../fonts/eot/bbvasans-lightitalic.eot");
	font-stretch: normal;
	font-style: italic;
	font-weight: 300;
}
@font-face {
	font-family: "bbvasans-book";
	src: url("../fonts/eot/bbvasans-book.eot");
	font-stretch: normal;
	font-style: normal;
	font-weight: 400;
}
@font-face {
	font-family: "bbvasans-bookitalic";
	src: url("../fonts/eot/bbvasans-bookitalic.eot");
	font-stretch: normal;
	font-style: italic;
	font-weight: 400;
}
@font-face {
	font-family: "bbvasans-medium";
	src: url("../fonts/eot/bbvasans-medium.eot");
	font-stretch: normal;
	font-style: normal;
	font-weight: 500;
}
@font-face {
	font-family: "bbvasans-mediumitalic";
	src: url("../fonts/eot/bbvasans-mediumitalic.eot");
	font-stretch: normal;
	font-style: italic;
	font-weight: 500;
}
@font-face {
	font-family: "bbvasans-semibold";
	src: url("../fonts/eot/bbvasans-semibold.eot");
	font-stretch: normal;
	font-style: normal;
	font-weight: 600;
}

